<div id="license">
    <div class="_container">
        <h2>Licensing</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut la</p>

        <div class="licenses">
            <p-card header="BASIC LICENSE" [style]="{width: '300px'}" styleClass="p-card-shadow">
                <div class="highlight">
                    $000.00
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. 
                    <br/><br/>
                    Quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure.
                    <br/><br/>
                    Dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non 
                    proident, sunt in culpa qui officia 
                    deserunt mollit anim id est laborum.
                </p>
            </p-card>
            <p-card header="BASIC LICENSE" [style]="{width: '300px'}" styleClass="p-card-shadow">
                <div class="highlight">
                    $000.00
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. 
                    <br/><br/>
                    Quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure.
                    <br/><br/>
                    Dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non 
                    proident, sunt in culpa qui officia 
                    deserunt mollit anim id est laborum.
                </p>
            </p-card>
            <p-card header="BASIC LICENSE" [style]="{width: '300px'}" styleClass="p-card-shadow">
                <div class="highlight">
                    $000.00
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. 
                    <br/><br/>
                    Quis nostrud exercitation ullamco laboris 
                    nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure.
                    <br/><br/>
                    Dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non 
                    proident, sunt in culpa qui officia 
                    deserunt mollit anim id est laborum.
                </p>
            </p-card>
        </div>
    </div>
</div>