<div class="latest-news">
  <div class="header">
    <img src="../../../../assets/images/blog-img-5.png" />
  </div>

  <div class="blog-content">
    <div class="blog-header">
      <div class="_container">
        <div class="date">05 JAN 2021</div>
        <h1 class="title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        </h1>
      </div>
    </div>

    <div class="divider">
      <div class="_container">
        <hr>
      </div>
    </div>

    <div class="blog-body">
      <div class="_container">
        <div class="blog-html" [innerHTML]="sampleData">
        </div>
      </div>
    </div>

    <div class="action">
      <i class="pi-arrow-left" style="font-size: 2rem; color: #e13c33;"></i>
    </div>
    <br>
  </div>
</div>
