<div class="track-cards">
  <div class="_container">
    <div class="header">{{ pageTitle }}</div>

    <div class="card-group">
      <div class="card">
          <img src="../../../../../../assets/images/get-what-i-want-song-cover.png" alt="">
          <div class="action">
            <button>STREAM/DOWNLOAD</button>
          </div>
      </div>
      <div class="card">
          <img src="../../../../../../assets/images/get-what-i-want-song-cover.png" alt="">
          <div class="action">
            <button>STREAM/DOWNLOAD</button>
          </div>
      </div>
      <div class="card">
          <img src="../../../../../../assets/images/get-what-i-want-song-cover.png" alt="">
          <div class="action">
            <button>STREAM/DOWNLOAD</button>
          </div>
      </div>
      <div class="card">
          <img src="../../../../../../assets/images/get-what-i-want-song-cover.png" alt="">
          <div class="action">
            <button>STREAM/DOWNLOAD</button>
          </div>
      </div>
      <div class="card">
          <img src="../../../../../../assets/images/get-what-i-want-song-cover.png" alt="">
          <div class="action">
            <button>STREAM/DOWNLOAD</button>
          </div>
      </div>
      <div class="card">
          <img src="../../../../../../assets/images/get-what-i-want-song-cover.png" alt="">
          <div class="action">
            <button>STREAM/DOWNLOAD</button>
          </div>
      </div>
      <div class="card">
          <img src="../../../../../../assets/images/get-what-i-want-song-cover.png" alt="">
          <div class="action">
            <button>STREAM/DOWNLOAD</button>
          </div>
      </div>
      <div class="card">
          <img src="../../../../../../assets/images/get-what-i-want-song-cover.png" alt="">
          <div class="action">
            <button>STREAM/DOWNLOAD</button>
          </div>
      </div>
    </div>

    <div class="load-more">
      <div class="_btn-dark">LOAD MORE</div>
    </div>
  </div>
</div>
