<div class="latest-news">
  <div class="header">
    <!-- <img src="../../../../assets/images/blog-img-5.png" /> -->
    <div class="header-content">
      <div class="_container">
        <div class="description">SINGLE</div>
        <h1 class="title">
          GET WHAT I WANT (FEAT. N8 Z)
        </h1>
        <div class="date">05 JAN 2021</div>
      </div>
    </div>
    <div class="track">
      <div class="track-image">
        <img src="../../../../assets/images/get-what-i-want-song-cover.png" alt="">
      </div>
    </div>
  </div>

  <div class="blog-content">
    <div class="_container">
      <div class="blog-html" [innerHTML]="sampleData">
      </div>
  </div>

    <!-- <div class="action">
      <div class="_container">
        <div class="p-grid">
            <div class="p-col-6 previous-blog">
              <button pButton type="button" icon="pi pi-arrow-left" class="p-button _btn-transparent align-icon" icon="pi pi-arrow-left"></button>
              <span class="title">BLOG POST TITLE 1</span>
            </div>
            <div class="p-col-6 next-blog">
              <button pButton type="button" icon="pi pi-arrow-right" class="p-button _btn-transparent align-icon" icon="pi pi-arrow-right"></button>
              <span class="title">BLOG POST TITLE 3</span>
            </div>
        </div>
      </div>
    </div>
    <br>
  </div> -->


</div>
