<div id="merch">
    <div class="_container">
        <h2>MERCH</h2>
        <div class="collection">
            <div class="item">
                <ks-modal-gallery [id]="1" [modalImages]="singleImage" [plainGalleryConfig]="plainGalleryRow"  [previewConfig]="{visible: false}"></ks-modal-gallery>
                <span>CLOTHING</span>
                <div class="rel">
                    <h3>Product Name</h3>
                    <p>$000.00</p>
                    <div class="_btn"><i class="fa fa-shopping-cart"></i></div>
                </div>
            </div>

            <div class="item">
                <ks-modal-gallery [id]="2" [modalImages]="singleImage2" [plainGalleryConfig]="plainGalleryRow"  [previewConfig]="{visible: false}"></ks-modal-gallery>
                <span>CD</span>
                <div class="rel">
                    <h3>Product Name</h3>
                    <p>$000.00</p>
                    <div class="_btn"><i class="fa fa-shopping-cart"></i></div>
                </div>
            </div>

            <div class="item">
                <ks-modal-gallery [id]="3" [modalImages]="singleImage3" [plainGalleryConfig]="plainGalleryRow"  [previewConfig]="{visible: false}"></ks-modal-gallery>
                <span>CLOTHING</span>
                <div class="rel">
                    <h3>Product Name</h3>
                    <p>$000.00</p>
                    <div class="_btn"><i class="fa fa-shopping-cart"></i></div>
                </div>
            </div>

            <div class="item">
                <ks-modal-gallery [id]="4" [modalImages]="singleImage4" [plainGalleryConfig]="plainGalleryRow"  [previewConfig]="{visible: false}"></ks-modal-gallery>                <span>CLOTHING</span>
                <div class="rel">
                    <h3>Product Name</h3>
                    <p>$000.00</p>
                    <div class="_btn"><i class="fa fa-shopping-cart"></i></div>
                </div>
            </div>
            <br>
            <div class="_btn _btn-dark">
                Load more
            </div>
        </div>
    </div>

</div>