<div id="merch">
    <div class="_container">
        <h2>MERCH</h2>
        <div class="collection">
            <div class="item" *ngFor="let merch of featuredMerch; index as ix">
                <img src="{{ merch.Image }}" alt="">
                <div class="rel">
                    <h3>{{ merch.Name }}</h3>
                    <p>{{ merch.Price | currency: 'USD' : true }}</p>
                    <div class="_btn"><i class="fa fa-shopping-cart"></i></div>
                </div>
            </div>
            <br>
            <div class="_btn _btn-dark">
                Load more
            </div>
        </div>
    </div>

</div>
