<div id="faq">
    <div class="_container">
        <h2>Frequently Asked Questions</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut la</p>

        <div class="content">
            <p-accordion>
                <p-accordionTab header="Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor
                incididunt" >
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. 
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. 
                </p-accordionTab>
                <p-accordionTab header="Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor
                incididunt">
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. 
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. 
                </p-accordionTab>
                <p-accordionTab header="Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor
                incididunt">
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. 
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. 
                </p-accordionTab>
                <p-accordionTab header="Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor
                incididunt">
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. 
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. 
                </p-accordionTab>
                <p-accordionTab header="Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit, sed do eiusmod tempor
                incididunt">
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. 
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. 
                </p-accordionTab>
            </p-accordion>
        </div>
        
    </div>
</div>