<div class="contact-us">
  <div class="_container">
    <div class="header">
      <h1>GET IN TOUCH</h1>
      <p class="sub-text">If you are looking for a mind-blowing experience music producer, you just found him.</p>
    </div>

    <div class="form">
      <div class="top">
        <div class="form-input">
          <input class="_input" type="text" placeholder="NAME" pInputText />
        </div>
        <div class="form-input">
          <input class="_input" type="text" placeholder="EMAIL ADDRESS (REQUIRED)" pInputText />
        </div>
        <div class="form-input">
          <input class="_input" type="text" placeholder="COMPANY (OPTIONAL)" pInputText />
        </div>
      </div>
      <div class="bottom">
        <div class="form-input">
          <textarea class="_input" name="" id="" rows="10" placeholder="MESSAGE" pInputTextarea></textarea>
        </div>
      </div>
      <div class="submit">
        <button>SEND</button>
      </div>
    </div>
  </div>
</div>
