.contact-us {
  background-image: url(../../../../../../assets/images/contact-us-bg.png);
  height: 595px;
  color: #fff;
  background-position: center center;
  background-size: cover;
  // height: calc(40vh - 19px);
  padding: 40px 0;

  ._container {
    width: 1300px;
    .header {
      text-align: center;
      h1 {
        font-size: 36px;
        color: #e13c33;
        text-transform: uppercase;
      }

      .sub-text {
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 10px;
      }
    }

    .form {
      // width: 75%;
      margin: 33px auto 0;

      .top {
        display: inline-flex;
        width: 100%;
        .form-input {
          width: 33%;
          margin: 0 20px;

          input {
            width: 100%;
          }
        }
      }

      .bottom {
        margin-top: 25px;
        width: 100%;

        .form-input {
          margin: 0 20px;
          textarea {
            width: 100%;
          }
        }
      }

      .submit {
        margin-top: 20px;
        text-align: center;
        button {
          padding: 20px 105px;
          background-color: #e13c33;
          color: #fff;
          border: #e13c33;
        }
      }


      // position: absolute;
      // left: 50%;
      // top: 53%;
      // transform: translate(-50%,-50%);
    }
  }

}

@media (max-width: 900px) {
  .contact-us {
    height: 740px;
    background-position: right;

    ._container {
      .header {
        .sub-text {
          width: 90%;
          margin: 0 auto;
        }
      }

      .form {
        .top {
          display: unset;
          .form-input {
            width: 100%;
            margin: 10px 0%;
          }
        }

        .bottom {
          margin: 0%;
          .form-input {
            margin: 0%;
            textarea {
              width: 100%;
            }
          }
        }

        .submit {
          button {
            padding: 10px 70px;
          }
        }
      }
    }

  }
}

@media (max-width: 1190px) {
  .contact-us {
    height: 710px;
    ._container {
      .form {
        .top {
          display: unset;

          .form-input {
            width: 100%;
            margin: 10px 0%;
          }
        }

        .bottom {
          margin: 0%;
          .form-input {
            margin: 0%;
            textarea {
              width: 100%;
            }
          }
        }
      }
    }

  }
}
