.contact-us {
  background-image: url(../../../../../../assets/images/contact-us-bg.png);
  height: 520px;
  color: #fff;
  background-position: center center;
  background-size: cover;
  // height: calc(40vh - 19px);
  padding: 40px 0;

  .header {
    text-align: center;
    h1 {
      font-size: 36px;
      color: #e13c33;
      text-transform: uppercase;
    }

    .sub-text {
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 10px;
    }
  }

  .form {
    width: 75%;
    margin: 33px auto 0;

    .top {
      display: inline-flex;
      .form-input {
        margin-right: 30px;
      }
    }

    .bottom {
      margin-top: 25px;
    }


    // position: absolute;
    // left: 50%;
    // top: 53%;
    // transform: translate(-50%,-50%);
  }
}
