<div class="contact-us">
  <div class="_container">
    <div class="header">
      <h1>GET IN TOUCH</h1>
      <p class="sub-text">If you are looking for a mind-blowing experience music producer, you just found him.</p>
    </div>

    <div class="form">
      <div class="top">
        <div class="form-input">
          <input type="text" name="" id="" placeholder="NAME">
        </div>
        <div class="form-input">
          <input type="text" name="" id="" placeholder="EMAIL ADDRESS (REQUIRED)">
        </div>
        <div class="form-input">
          <input type="text" name="" id="" placeholder="COMPANY (OPTIONAL)">
        </div>
      </div>
      <div class="bottom">
        <div class="form-input">
          <textarea name="" id="" rows="10" placeholder="MESSAGE"></textarea>
        </div>
      </div>
      <div class="submit">
        <button>SEND</button>
      </div>
    </div>
  </div>
</div>
