<div class="latest-news">
  <div class="_container">
    <div class="header">{{ pageTitle }}</div>

    <div class="p-grid top-news">
        <div class="p-col-12 p-lg-6">
          <div class="news-image">
            <!-- <img src="../../../../assets/images/gio-records-bts.png"> -->
            <iframe src="https://www.youtube.com/embed/ssq6X6alZ3w?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="news-text">
            <div class="date">05 Jan 2021</div>
            <h1 class="title">GIO RECORDS STUDIO - (BEHIND THE SCENES)</h1>
          </div>
        </div>
        <div class="p-col-12 p-lg-6">
          <div class="news-image">
            <!-- <img src="../../../../assets/images/get-what-i-want-lyric-video.png"> -->
            <iframe src="https://www.youtube.com/embed/B6_iQvaIjXw?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="news-text">
            <div class="date">05 Jan 2021</div>
            <h1 class="title">GET WHAT I WANT - (LYRIC VIDEO)</h1>
          </div>
        </div>
    </div>

   <div class="p-grid other-news">
        <div class="p-col-12 p-lg-3">
          <div class="news-image">
            <!-- <img src="../../../../assets/images/gio-records-bts.png"> -->
            <iframe src="https://www.youtube.com/embed/1ozGKlOzEVc?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="news-text">
            <div class="date">05 Jan 2021</div>
            <h1 class="title">BLOG POST</h1>
          </div>
        </div>
        <div class="p-col-12 p-lg-3">
          <div class="news-image">
            <!-- <img src="../../../../assets/images/get-what-i-want-lyric-video.png"> -->
            <iframe src="https://www.youtube.com/embed/B6_iQvaIjXw?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="news-text">
            <div class="date">05 Jan 2021</div>
            <h1 class="title">BLOG POST</h1>
          </div>
        </div>
        <div class="p-col-12 p-lg-3">
          <div class="news-image">
            <img src="../../../../assets/images/blog-img-3.png">
            <!-- <iframe src="https://www.youtube.com/embed/B6_iQvaIjXw?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </div>
          <div class="news-text">
            <div class="date">05 Jan 2021</div>
            <h1 class="title">BLOG POST</h1>
          </div>
        </div>
        <div class="p-col-12 p-lg-3">
          <div class="news-image">
            <img src="../../../../assets/images/blog-img-2.png">
            <!-- <iframe src="https://www.youtube.com/embed/B6_iQvaIjXw?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </div>
          <div class="news-text">
            <div class="date">05 Jan 2021</div>
            <h1 class="title">BLOG POST</h1>
          </div>
        </div>
        <div class="p-col-12 p-lg-3">
          <div class="news-image">
            <img src="../../../../assets/images/blog-img-3.png">
            <!-- <iframe src="https://www.youtube.com/embed/B6_iQvaIjXw?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </div>
          <div class="news-text">
            <div class="date">05 Jan 2021</div>
            <h1 class="title">BLOG POST</h1>
          </div>
        </div>
        <div class="p-col-12 p-lg-3">
          <div class="news-image">
            <img src="../../../../assets/images/blog-img-2.png">
            <!-- <iframe src="https://www.youtube.com/embed/B6_iQvaIjXw?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </div>
          <div class="news-text">
            <div class="date">05 Jan 2021</div>
            <h1 class="title">BLOG POST</h1>
          </div>
        </div>
        <div class="p-col-12 p-lg-3">
          <div class="news-image">
            <!-- <img src="../../../../assets/images/get-what-i-want-lyric-video.png"> -->
            <iframe  height="315" src="https://www.youtube.com/embed/B6_iQvaIjXw?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="news-text">
            <div class="date">05 Jan 2021</div>
            <h1 class="title">BLOG POST</h1>
          </div>
        </div>
        <div class="p-col-12 p-lg-3">
          <div class="news-image">
            <!-- <img src="../../../../assets/images/get-what-i-want-lyric-video.png"> -->
            <iframe src="https://www.youtube.com/embed/B6_iQvaIjXw?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="news-text">
            <div class="date">05 Jan 2021</div>
            <h1 class="title">BLOG POST</h1>
          </div>
        </div>
    </div>

    <div class="load-more">
      <div class="_btn-dark">LOAD MORE</div>
    </div>
  </div>
</div>
